<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/> -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
	<!--     
    <link rel="stylesheet" type="text/javascript"
			th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
	<link rel="stylesheet" type="text/javascript"
			th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
     -->
    
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
	<link rel="shortcut icon" href="">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Spring Security Thymeleaf</title>
    
    <style>
.pagination-centered {
    text-align: center;
}
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.pointer-disabled {
    pointer-events: none;
}
  </style>
</head>
<body>
    <th:block th:replace="fragments/header :: header"/>
    <div class="container">
        <th:block layout:fragment="content"/>
    </div>
    <th:block th:replace="fragments/footer :: footer"/>
</body>
</html>