h1 {
    color: #78ab46;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

nav a{
  color: white !important;
  font-size: 16px;
}