<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Product List</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">

		<h1>Educator</h1>

		<!-- 
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" th:href="@{/}">Registration
						and Login Module</a>
				</div>
			</div>
		</nav>
		 -->

		<br>

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">

					<!-- 
					<div th:if="${param.success}">
						<div class="alert alert-info">You've successfully registered
							to our awesome app!</div>
					</div>
					 -->

					<h1 th:text="#{registration.title}"></h1>

					<form th:action="@{/educator}" th:object="${educator}"
						method="post">

						<!-- 
						<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
							th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
							error</p> -->

						<div class="form-group"
							th:classappend="${#fields.hasErrors('displayName')}? 'has-error':''">
							<label for="displayName" class="control-label"
								th:text="#{registration.displayName}"></label> <input
								id="displayName" class="form-control" th:field="*{displayName}" />
							<p class="error-message"
								th:each="error: ${#fields.errors('displayName')}"
								th:text="${error}">Validation error</p>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-success"
								th:text="#{registration.button}"></button>
							<span th:text="#{registration.alreadyRegistered}"> <a
								href="/" th:href="@{/login}" th:text="#{registration.loginHere}"></a></span>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>