<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Product List</title>
<script
	src='//cdnjs.cloudflare.com/ajax/libs/phaser/2.2.1/phaser.min.js'></script>
<script src='/js/letters.js'></script>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">

		<div id="header" class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<h2>Exercise Page2</h2>
				</div>
				<div class="col-sm-4">
					<label for="name" class="col-form-label">Instructions:</label>
					<p th:text="${exercise.writtenInstructions}"></p>
				</div>
				<div class="col-sm-4">
					<div class="float-right">
					<a th:href="@{/exercisePage/{exerciseGroupId}/{previousExercise}(exerciseGroupId=${exerciseGroupId},previousExercise=${previousExercise})}"
						class="btn btn-primary"><i class="fas fa-arrow-left ml-2"></i></a>
					<a th:href="@{/exercisePage/{exerciseGroupId}/{currentExercise}(exerciseGroupId=${exerciseGroupId},currentExercise=${currentExercise})}"				
						class="btn btn-primary"><i class="fas fa-redo-alt ml-2"></i></a>
					<a th:href="@{/exercisePage/{exerciseGroupId}/{nextExercise}(exerciseGroupId=${exerciseGroupId},nextExercise=${nextExercise})}"
						class="btn btn-primary"><i class="fas fa-arrow-right ml-2"></i></a>
					</div>
				</div>
			</div>
		</div>

<div id="consolewindow">

<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
<script th:inline="javascript" id="rendered-js">

	// Rotates the window when the orientation changes.
	// Ref: https://stackoverflow.com/questions/17708869/how-to-reload-the-webpage-when-orientation-changes
	window.onorientationchange = function() { 
		var orientation = window.orientation; 
    	switch(orientation) { 
			case 0:
			case 90:
			case -90: window.location.reload(); 
			break; 
		} 
	};

	// Determins the header size using jquery.
	// Ref: http://api.jquery.com/innerHeight/
	var p = $("#header");
	var titleHeight = p.innerHeight();

	
	// Setup size of the game window.
	var gameWindowWidth = window.innerWidth;
	// Found that 110 was the correct height for the footer and headers.
	var gameWindowHeight = window.innerHeight - 110 - titleHeight;
	var letterSize = calculateLetterSize(gameWindowWidth);
	var spaceSize = Math.floor(letterSize / 10);
	console.log('window size2 : ' + gameWindowWidth + ' x ' + gameWindowHeight);
	
	
	
	// Keyboard Settings.
	var sideSpace = Math.floor(gameWindowWidth / 2) - ((letterSize + spaceSize) * 8);
	var line1 = gameWindowHeight - letterSize * 3 - spaceSize * 3;
	var line2 = gameWindowHeight - letterSize * 2 - spaceSize * 2;
	var line3 = gameWindowHeight - letterSize * 1 - spaceSize * 1;

	// Load page specific values.
	var initialWord = /*[[${exercise.initialWord}]]*/ 'default';
	var targetWord = /*[[${exercise.targetWord}]]*/ 'default';
	var exerciseGroupId = /*[[${exerciseGroupId}]]*/ '0';
	var nextExerciseId = /*[[${nextExercise}]]*/ '0';
	
	// Page instructions
	speakerInstructions();
	  
	// Load the phaser 2 game engine.
	var game = new Phaser.Game(	gameWindowWidth, 
								gameWindowHeight, 
								Phaser.AUTO, 
								'', 
								{
    	  							preload: preload, 
    	  							create: create 
    	  						}
	);

	
// Phaser 2 preload instructions.
function preload() {    		  
    		  
    this.scale.pageAlignHorizontally = true;
    
    // Ingame Icons
    this.game.load.image('trashIcon', letters.get('trashIconURI' + letterSize));
    this.game.load.image('upIcon', letters.get('upIconURI' + letterSize));
    this.game.load.image('downIcon', letters.get('downIconURI' + letterSize));
    this.game.load.image('speakerIcon', letters.get('speakerIconURI' + letterSize));
    
    // Lowercase Letters
    this.game.load.image('aIcon', letters.get('C0061IconURI' + letterSize));
    this.game.load.image('bIcon', letters.get('C0062IconURI' + letterSize));
    this.game.load.image('cIcon', letters.get('C0063IconURI' + letterSize));
    this.game.load.image('dIcon', letters.get('C0064IconURI' + letterSize));
    this.game.load.image('eIcon', letters.get('C0065IconURI' + letterSize));
    this.game.load.image('fIcon', letters.get('C0066IconURI' + letterSize));
    this.game.load.image('gIcon', letters.get('C0067IconURI' + letterSize));
    this.game.load.image('hIcon', letters.get('C0068IconURI' + letterSize));
    this.game.load.image('iIcon', letters.get('C0069IconURI' + letterSize));
    this.game.load.image('jIcon', letters.get('C006AIconURI' + letterSize));
    this.game.load.image('kIcon', letters.get('C006BIconURI' + letterSize));
    this.game.load.image('lIcon', letters.get('C006CIconURI' + letterSize));
    this.game.load.image('mIcon', letters.get('C006DIconURI' + letterSize));
    this.game.load.image('nIcon', letters.get('C006EIconURI' + letterSize));
    this.game.load.image('oIcon', letters.get('C006FIconURI' + letterSize));
    this.game.load.image('pIcon', letters.get('C0070IconURI' + letterSize));
    this.game.load.image('qIcon', letters.get('C0071IconURI' + letterSize));
    this.game.load.image('rIcon', letters.get('C0072IconURI' + letterSize));
    this.game.load.image('sIcon', letters.get('C0073IconURI' + letterSize));
    this.game.load.image('tIcon', letters.get('C0074IconURI' + letterSize));
    this.game.load.image('uIcon', letters.get('C0075IconURI' + letterSize));
    this.game.load.image('vIcon', letters.get('C0076IconURI' + letterSize));
    this.game.load.image('wIcon', letters.get('C0077IconURI' + letterSize));
    this.game.load.image('xIcon', letters.get('C0078IconURI' + letterSize));
    this.game.load.image('yIcon', letters.get('C0079IconURI' + letterSize));
    this.game.load.image('zIcon', letters.get('C007AIconURI' + letterSize));
    
    // Accented Letters.
    this.game.load.image('eAiguIcon', letters.get('C00E9IconURI' + letterSize));
    this.game.load.image('eGraveIcon', letters.get('C00E8IconURI' + letterSize));
    this.game.load.image('eCirconflexIcon', letters.get('C00EAIconURI' + letterSize));
    this.game.load.image('eTremaIcon', letters.get('C00EBIconURI' + letterSize));
    
    this.game.load.image('aGraveIcon', letters.get('C00E0IconURI' + letterSize));
    this.game.load.image('aCirconflexIcon', letters.get('C00E2IconURI' + letterSize));
    this.game.load.image('iCircomflexIcon', letters.get('C00ECIconURI' + letterSize));
    this.game.load.image('iTremaIcon', letters.get('C00EFIconURI' + letterSize));

    this.game.load.image('oCircomflexIcon', letters.get('C00F4IconURI' + letterSize));
    this.game.load.image('uCirconflexIcon', letters.get('C00FBIconURI' + letterSize));
    this.game.load.image('uGraveIcon', letters.get('C00F9IconURI' + letterSize));
    this.game.load.image('cCedilleIcon', letters.get('C00E7IconURI' + letterSize));

    // Extra Letters.
    this.game.load.image('dashIcon', letters.get('C002DIconURI' + letterSize));
    this.game.load.image('spaceIcon', letters.get('C0020IconURI' + letterSize));
    
    // Enable response to keyboard events.
    game.input.keyboard.onDownCallback = function (e) {
      var res = String.fromCharCode(e.keyCode).toLowerCase();
      keyPressed(res);
    };

}

//Phaser 2 create instructions.
function create() {

	// this.game.stage.backgroundColor = "#ffffff"; // White
	this.game.stage.backgroundColor = "#efefef"; // Gray - used for debugging.
	
    this.game.physics.startSystem(Phaser.Physics.ARCADE);
    
    // Start the class that controls the display of letters with an initial word.
    displayText = new DisplayText(initialWord);
    
    // Causes the display text class to render the display of letters.
    displayText.display();

    this.aIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'aIcon');
    this.bIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'bIcon');
    this.cIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'cIcon');
    this.dIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'dIcon');
    this.eIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'eIcon');
    this.fIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'fIcon');
    this.gIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'gIcon');
    this.hIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'hIcon');
    this.iIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'iIcon');
    this.jIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'jIcon');
    this.kIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'kIcon');
    this.lIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'lIcon');
    this.mIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'mIcon');
    this.nIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'nIcon');
    this.oIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'oIcon');
    this.pIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'pIcon');
    this.qIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'qIcon');
    this.rIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'rIcon');
    this.sIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'sIcon');
    this.tIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'tIcon');
    this.uIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'uIcon');
    this.vIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'vIcon');
    this.wIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'wIcon');
    this.xIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'xIcon');
    this.yIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'yIcon');
    this.zIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'zIcon');

    this.eAiguIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'eAiguIcon');
    this.eGraveIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'eGraveIcon');
    this.eCirconflexIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'eCirconflexIcon');
    this.eTremaIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'eTremaIcon');
    
    this.aGraveIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'aGraveIcon');
    this.aCirconflexIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'aCirconflexIcon');
    this.iCircomflexIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'iCircomflexIcon');
    this.iTremaIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'iTremaIcon');
    
    this.oCircomflexIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'oCircomflexIcon');
    this.uCirconflexIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'uCirconflexIcon');
    this.uGraveIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'uGraveIcon');
    this.cCedilleIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'cCedilleIcon');
    
    this.spaceIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'spaceIcon');
    this.dashIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'dashIcon');

    this.trashIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'trashIcon');
    this.speakerIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'speakerIcon');
    this.upIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'upIcon');
    this.downIcon = this.game.add.sprite(this.game.world.centerX, this.game.world.height, 'downIcon');

    var iconSize = letterSize;
    var iconSpacing = spaceSize;
    
	// Function that will call the displayText when a letter is added.
    function addLetterEvent(text) {
      return function () {
        displayText.addLetter(text);
      };
    }
	
    function speakerPressed() {
    	return function () {
			console.log('speakerPressed!');

			var newMessage2 = "";
			var arrayLength2 = displayText.displayCharacters.length;
			for (var i = 0; i < arrayLength2; i++) {
				var char = displayText.displayCharacters[i];
				newMessage2 = newMessage2 + char.letter;
			}
	  	    
			console.log('newMessage: ' + newMessage2);
			responsiveVoice.speak(newMessage2, 'French Female');

    	}
    };

    // Line 1 - Speaker
   	this.speakerIcon.anchor.setTo(0, 0);
    this.speakerIcon.x = sideSpace;
    this.speakerIcon.y = line1;
    this.speakerIcon.inputEnabled = true;
    this.speakerIcon.events.onInputDown.add(speakerPressed(), this);    
    
    // Line 1 - Display Keyboard
   	this.qIcon.anchor.setTo(0, 0);
    this.qIcon.x = sideSpace + (iconSize + iconSpacing) * 1 + Math.floor((iconSize + iconSpacing) / 2);
    this.qIcon.y = line1;
    this.qIcon.inputEnabled = true;
    this.qIcon.events.onInputDown.add(addLetterEvent('q'), this);
    
    this.wIcon.anchor.setTo(0, 0);
    this.wIcon.x = sideSpace + (iconSize + iconSpacing) * 2 + Math.floor((iconSize + iconSpacing) / 2);
    this.wIcon.y = line1;
    this.wIcon.inputEnabled = true;
    this.wIcon.events.onInputDown.add(addLetterEvent('w'), this);

    this.eIcon.anchor.setTo(0, 0);
    this.eIcon.x = sideSpace + (iconSize + iconSpacing) * 3 + Math.floor((iconSize + iconSpacing) / 2);
    this.eIcon.y = line1;
    this.eIcon.inputEnabled = true;
    this.eIcon.events.onInputDown.add(addLetterEvent('e'), this);

    this.rIcon.anchor.setTo(0, 0);
    this.rIcon.x = sideSpace + (iconSize + iconSpacing) * 4 + Math.floor((iconSize + iconSpacing) / 2);
    this.rIcon.y = line1;
    this.rIcon.inputEnabled = true;
    this.rIcon.events.onInputDown.add(addLetterEvent('r'), this);

    this.tIcon.anchor.setTo(0, 0);
    this.tIcon.x = sideSpace + (iconSize + iconSpacing) * 5 + Math.floor((iconSize + iconSpacing) / 2);
    this.tIcon.y = line1;
    this.tIcon.inputEnabled = true;
    this.tIcon.events.onInputDown.add(addLetterEvent('t'), this);

    this.yIcon.anchor.setTo(0, 0);
    this.yIcon.x = sideSpace + (iconSize + iconSpacing) * 6 + Math.floor((iconSize + iconSpacing) / 2);
    this.yIcon.y = line1;
    this.yIcon.inputEnabled = true;
    this.yIcon.events.onInputDown.add(addLetterEvent('y'), this);

    this.uIcon.anchor.setTo(0, 0);
    this.uIcon.x = sideSpace + (iconSize + iconSpacing) * 7 + Math.floor((iconSize + iconSpacing) / 2);
    this.uIcon.y = line1;
    this.uIcon.inputEnabled = true;
    this.uIcon.events.onInputDown.add(addLetterEvent('u'), this);

    this.iIcon.anchor.setTo(0, 0);
    this.iIcon.x = sideSpace + (iconSize + iconSpacing) * 8 + Math.floor((iconSize + iconSpacing) / 2);
    this.iIcon.y = line1;
    this.iIcon.inputEnabled = true;
    this.iIcon.events.onInputDown.add(addLetterEvent('i'), this);

    this.oIcon.anchor.setTo(0, 0);
    this.oIcon.x = sideSpace + (iconSize + iconSpacing) * 9 + Math.floor((iconSize + iconSpacing) / 2);
    this.oIcon.y = line1;
    this.oIcon.inputEnabled = true;
    this.oIcon.events.onInputDown.add(addLetterEvent('o'), this);

    this.pIcon.anchor.setTo(0, 0);
    this.pIcon.x = sideSpace + (iconSize + iconSpacing) * 10 + Math.floor((iconSize + iconSpacing) / 2);
    this.pIcon.y = line1;
    this.pIcon.inputEnabled = true;
    this.pIcon.events.onInputDown.add(addLetterEvent('p'), this);

    // Line 1 - Accented Line 1 - éèêë
    this.eAiguIcon.anchor.setTo(0, 0);
    this.eAiguIcon.x = sideSpace + (iconSize + iconSpacing) * 12;
    this.eAiguIcon.y = line1;
    this.eAiguIcon.inputEnabled = true;
    this.eAiguIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(130)), this);
    
    this.eGraveIcon.anchor.setTo(0, 0);
    this.eGraveIcon.x = sideSpace + (iconSize + iconSpacing) * 13;
    this.eGraveIcon.y = line1;
    this.eGraveIcon.inputEnabled = true;
    this.eGraveIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(138)), this);

    this.eCirconflexIcon.anchor.setTo(0, 0);
    this.eCirconflexIcon.x = sideSpace + (iconSize + iconSpacing) * 14;
    this.eCirconflexIcon.y = line1;
    this.eCirconflexIcon.inputEnabled = true;
    this.eCirconflexIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(136)), this);

    this.eTremaIcon.anchor.setTo(0, 0);
    this.eTremaIcon.x = sideSpace + (iconSize + iconSpacing) * 15;
    this.eTremaIcon.y = line1;
    this.eTremaIcon.inputEnabled = true;
    this.eTremaIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(137)), this);
    

    // Line 2 - Trash
   	this.trashIcon.anchor.setTo(0, 0);
    this.trashIcon.x = sideSpace;
    this.trashIcon.y = line2;
    this.trashIcon.inputEnabled = true;
    this.trashIcon.events.onInputDown.add(speakerPressed(), this);    
    
    // Line 2 - Display Keyboard
    this.aIcon.anchor.setTo(0, 0);
    this.aIcon.x = sideSpace + (iconSize + iconSpacing) * 2;
    this.aIcon.y = line2;
    this.aIcon.inputEnabled = true;
    this.aIcon.events.onInputDown.add(addLetterEvent('a'), this);

    this.sIcon.anchor.setTo(0, 0);
    this.sIcon.x = sideSpace + (iconSize + iconSpacing) * 3;
    this.sIcon.y = line2;
    this.sIcon.inputEnabled = true;
    this.sIcon.events.onInputDown.add(addLetterEvent('s'), this);

    this.dIcon.anchor.setTo(0, 0);
    this.dIcon.x = sideSpace + (iconSize + iconSpacing) * 4;
    this.dIcon.y = line2;
    this.dIcon.inputEnabled = true;
    this.dIcon.events.onInputDown.add(addLetterEvent('d'), this);

    this.fIcon.anchor.setTo(0, 0);
    this.fIcon.x = sideSpace + (iconSize + iconSpacing) * 5;
    this.fIcon.y = line2;
    this.fIcon.inputEnabled = true;
    this.fIcon.events.onInputDown.add(addLetterEvent('f'), this);

    this.gIcon.anchor.setTo(0, 0);
    this.gIcon.x = sideSpace + (iconSize + iconSpacing) * 6;
    this.gIcon.y = line2;
    this.gIcon.inputEnabled = true;
    this.gIcon.events.onInputDown.add(addLetterEvent('g'), this);

    this.hIcon.anchor.setTo(0, 0);
    this.hIcon.x = sideSpace + (iconSize + iconSpacing) * 7;
    this.hIcon.y = line2;
    this.hIcon.inputEnabled = true;
    this.hIcon.events.onInputDown.add(addLetterEvent('h'), this);

    this.jIcon.anchor.setTo(0, 0);
    this.jIcon.x = sideSpace + (iconSize + iconSpacing) * 8;
    this.jIcon.y = line2;
    this.jIcon.inputEnabled = true;
    this.jIcon.events.onInputDown.add(addLetterEvent('j'), this);

    this.kIcon.anchor.setTo(0, 0);
    this.kIcon.x = sideSpace + (iconSize + iconSpacing) * 9;
    this.kIcon.y = line2;
    this.kIcon.inputEnabled = true;
    this.kIcon.events.onInputDown.add(addLetterEvent('k'), this);

    this.lIcon.anchor.setTo(0, 0);
    this.lIcon.x = sideSpace + (iconSize + iconSpacing) * 10;
    this.lIcon.y = line2;
    this.lIcon.inputEnabled = true;
    this.lIcon.events.onInputDown.add(addLetterEvent('l'), this);

    // Line 2 - Accented - àâîï
    this.aGraveIcon.anchor.setTo(0, 0);
    this.aGraveIcon.x = sideSpace + (iconSize + iconSpacing) * 12;
    this.aGraveIcon.y = line2;
    this.aGraveIcon.inputEnabled = true;
    this.aGraveIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(133)), this);
    
    this.aCirconflexIcon.anchor.setTo(0, 0);
    this.aCirconflexIcon.x = sideSpace + (iconSize + iconSpacing) * 13;
    this.aCirconflexIcon.y = line2;
    this.aCirconflexIcon.inputEnabled = true;
    this.aCirconflexIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(131)), this);

    this.iCircomflexIcon.anchor.setTo(0, 0);
    this.iCircomflexIcon.x = sideSpace + (iconSize + iconSpacing) * 14;
    this.iCircomflexIcon.y = line2;
    this.iCircomflexIcon.inputEnabled = true;
    this.iCircomflexIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(140)), this);

    this.iTremaIcon.anchor.setTo(0, 0);
    this.iTremaIcon.x = sideSpace + (iconSize + iconSpacing) * 15;
    this.iTremaIcon.y = line2;
    this.iTremaIcon.inputEnabled = true;
    this.iTremaIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(139)), this);

    
    // Line 3 - Arrow
   	this.upIcon.anchor.setTo(0, 0);
    this.upIcon.x = sideSpace;
    this.upIcon.y = line3;
    this.upIcon.inputEnabled = true;
    this.upIcon.events.onInputDown.add(speakerPressed(), this);    
    
    
    // Line 3 - Display Keyboard
    this.zIcon.anchor.setTo(0, 0);
    this.zIcon.x = sideSpace + (iconSize + iconSpacing) * 2 + Math.floor((iconSize + iconSpacing) / 2);
    this.zIcon.y = line3;
    this.zIcon.inputEnabled = true;
    this.zIcon.events.onInputDown.add(addLetterEvent('z'), this);

    this.xIcon.anchor.setTo(0, 0);
    this.xIcon.x = sideSpace + (iconSize + iconSpacing) * 3 + Math.floor((iconSize + iconSpacing) / 2);
    this.xIcon.y = line3;
    this.xIcon.inputEnabled = true;
    this.xIcon.events.onInputDown.add(addLetterEvent('x'), this);

    this.cIcon.anchor.setTo(0, 0);
    this.cIcon.x = sideSpace + (iconSize + iconSpacing) * 4 + Math.floor((iconSize + iconSpacing) / 2);
    this.cIcon.y = line3;
    this.cIcon.inputEnabled = true;
    this.cIcon.events.onInputDown.add(addLetterEvent('c'), this);

    this.vIcon.anchor.setTo(0, 0);
    this.vIcon.x = sideSpace + (iconSize + iconSpacing) * 5 + Math.floor((iconSize + iconSpacing) / 2);
    this.vIcon.y = line3;
    this.vIcon.inputEnabled = true;
    this.vIcon.events.onInputDown.add(addLetterEvent('v'), this);

    this.bIcon.anchor.setTo(0, 0);
    this.bIcon.x = sideSpace + (iconSize + iconSpacing) * 6 + Math.floor((iconSize + iconSpacing) / 2);
    this.bIcon.y = line3;
    this.bIcon.inputEnabled = true;
    this.bIcon.events.onInputDown.add(addLetterEvent('b'), this);

    this.nIcon.anchor.setTo(0, 0);
    this.nIcon.x = sideSpace + (iconSize + iconSpacing) * 7 + Math.floor((iconSize + iconSpacing) / 2);
    this.nIcon.y = line3;
    this.nIcon.inputEnabled = true;
    this.nIcon.events.onInputDown.add(addLetterEvent('n'), this);

    this.mIcon.anchor.setTo(0, 0);
    this.mIcon.x = sideSpace + (iconSize + iconSpacing) * 8 + Math.floor((iconSize + iconSpacing) / 2);
    this.mIcon.y = line3;
    this.mIcon.inputEnabled = true;
    this.mIcon.events.onInputDown.add(addLetterEvent('m'), this);
    
    this.spaceIcon.anchor.setTo(0, 0);
    this.spaceIcon.x = sideSpace + (iconSize + iconSpacing) * 9 + Math.floor((iconSize + iconSpacing) / 2);
    this.spaceIcon.y = line3;
    this.spaceIcon.inputEnabled = true;
    this.spaceIcon.events.onInputDown.add(addLetterEvent(' '), this);

    this.dashIcon.anchor.setTo(0, 0);
    this.dashIcon.x = sideSpace + (iconSize + iconSpacing) * 10 + Math.floor((iconSize + iconSpacing) / 2);
    this.dashIcon.y = line3;
    this.dashIcon.inputEnabled = true;
    this.dashIcon.events.onInputDown.add(addLetterEvent('-'), this);

    // Line 3 - Accented - ôûùç
    this.oCircomflexIcon.anchor.setTo(0, 0);
    this.oCircomflexIcon.x = sideSpace + (iconSize + iconSpacing) * 12;
    this.oCircomflexIcon.y = line3;
    this.oCircomflexIcon.inputEnabled = true;
    this.oCircomflexIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(147)), this);
    
    this.uCirconflexIcon.anchor.setTo(0, 0);
    this.uCirconflexIcon.x = sideSpace + (iconSize + iconSpacing) * 13;
    this.uCirconflexIcon.y = line3;
    this.uCirconflexIcon.inputEnabled = true;
    this.uCirconflexIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(150)), this);

    this.uGraveIcon.anchor.setTo(0, 0);
    this.uGraveIcon.x = sideSpace + (iconSize + iconSpacing) * 14;
    this.uGraveIcon.y = line3;
    this.uGraveIcon.inputEnabled = true;
    this.uGraveIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(151)), this);

    this.cCedilleIcon.anchor.setTo(0, 0);
    this.cCedilleIcon.x = sideSpace + (iconSize + iconSpacing) * 15;
    this.cCedilleIcon.y = line3;
    this.cCedilleIcon.inputEnabled = true;
    this.cCedilleIcon.events.onInputDown.add(addLetterEvent(String.fromCharCode(135)), this);
    
    
    /**
    this.speakerIcon.anchor.setTo(0, 0);
    this.speakerIcon.x = sideSpace + iconSize * 10 + iconSpacing * 10 + iconSize;
    this.speakerIcon.y = line1;
    this.speakerIcon.inputEnabled = true;
    this.speakerIcon.events.onInputDown.add(speakerPressed(), this);
    
    this.trashIcon.anchor.setTo(0, 0);
    this.trashIcon.x = sideSpace + iconSize * 11 + iconSpacing * 11 + iconSize;
    this.trashIcon.y = line1;
    this.trashIcon.inputEnabled = true;
    this.trashIcon.events.onInputDown.add(addLetterEvent(' '), this);
    **/
    
    // Enable keyboard.
    this.game.physics.arcade.enable(this.aIcon);
    this.game.physics.arcade.enable(this.bIcon);
    this.game.physics.arcade.enable(this.cIcon);
    this.game.physics.arcade.enable(this.dIcon);
    this.game.physics.arcade.enable(this.eIcon);
    this.game.physics.arcade.enable(this.fIcon);
    this.game.physics.arcade.enable(this.gIcon);
    this.game.physics.arcade.enable(this.hIcon);
    this.game.physics.arcade.enable(this.iIcon);
    this.game.physics.arcade.enable(this.jIcon);
    this.game.physics.arcade.enable(this.kIcon);
    this.game.physics.arcade.enable(this.lIcon);
    this.game.physics.arcade.enable(this.mIcon);
    this.game.physics.arcade.enable(this.nIcon);
    this.game.physics.arcade.enable(this.oIcon);
    this.game.physics.arcade.enable(this.pIcon);
    this.game.physics.arcade.enable(this.qIcon);
    this.game.physics.arcade.enable(this.rIcon);
    this.game.physics.arcade.enable(this.sIcon);
    this.game.physics.arcade.enable(this.tIcon);
    this.game.physics.arcade.enable(this.uIcon);
    this.game.physics.arcade.enable(this.vIcon);
    this.game.physics.arcade.enable(this.wIcon);
    this.game.physics.arcade.enable(this.xIcon);
    this.game.physics.arcade.enable(this.yIcon);
    this.game.physics.arcade.enable(this.zIcon);
    this.game.physics.arcade.enable(this.spaceIcon);
    this.game.physics.arcade.enable(this.dashIcon);

};


var displayText;

/**
 * Function that calculates the size of letters to use for display purposes.
 * Aims to put 20 letters on the screen.
 */
function calculateLetterSize(windowWidth) {
	
	var count = Math.floor(windowWidth / 20);
	
	var letterSize;
	
	switch (true) {
		case (count > 100):
			letterSize = 100;
			break;
		case (count > 72):
			letterSize = 72;
			break;
		case (count > 58):
			letterSize = 58;
			break;
		case (count > 42):
			letterSize = 42;
			break;
		case (count > 32):
			letterSize = 32;
			break;
		default:
			letterSize = 24;
			break;
	}
	
	console.log('using letter size: ' + letterSize);
			
	return letterSize;
	
}

/**
 * Class used to manage the display of letters.
 */
function DisplayText(letters) {

	// Sets the initial letters.
	this.letters = letters;

	// this.x = 200; // this.middle();
	this.y = 20;
  
	// Create an array of display characters.
	this.displayCharacters = new Array();
  
	// Function that renders the letters onto the screen.
	this.display = function () {
		//console.log(this.letters + " " + this.y);
		
		// Calculate middle.
		var xx = gameWindowWidth / 2;
		var letterCount = this.letters.length;
		// console.log("letterCount: " + letterCount);
		if (letterCount != 0) {
			// console.log("xx1: " + xx);
			xx = xx - (letterSize / 2 * letterCount);
			// console.log("xx2: " + xx);
			xx = xx - (letterCount + 1) % 2;
			// console.log("xx3: " + xx);
			xx = xx - ((Math.trunc((letterCount + 1) / 2) - 1) * spaceSize);
			// console.log("xx41: " + ((Math.trunc((letterCount + 1) / 2) - 1) * 3));
			console.log("xx: " + xx);
		}
		
		for (var i = 0; i < this.displayCharacters.length; i++) {
			var displayCharacter = this.displayCharacters[i];
			displayCharacter.remove();
		}

		this.displayCharacters = new Array();

		for (var i = 0; i < this.letters.length; i++) { 
			var letter = this.letters.charAt(i);
			// this.displayCharacters[i] = new DisplayCharacter(letter, xx, this.y).display();
			var displayCharacter = new DisplayCharacter(letter, i, xx, this.y);
			// console.log('positions: ' + displayCharacter.data);
			displayCharacter.display();
			this.displayCharacters.push(displayCharacter);
			xx = xx + letterSize + spaceSize;
		}
		
		console.log('word: ' + this.letters);
		
		console.log('target: ' + targetWord);
		
		if (this.letters === targetWord) {
			
			speakerSuccess();
		
		}
		
		for (var i = 0; i < this.displayCharacters.length; i++) {
			var displayCharacter = this.displayCharacters[i];
			console.log('positions: ' + displayCharacter.icon.data);
		}
		
	};

	// Function used to supports swapping letters
	this.swap = function (toLetter, fromLetter) {
		console.log('swap');
		var temp = this.displayCharacters[toLetter];
		this.displayCharacters[toLetter] = this.displayCharacters[fromLetter];
		this.displayCharacters[fromLetter] = temp;
	};

	// Function to reposition letters
	this.reposition = function () {
		var xx = this.x;
		for (var i = 0; i < this.letters.length; i++) {
			var letter = this.letters.charAt(i);
			xx = xx + letterSize + spaceSize;
		}
	};

	// Function that supports the addition of letters
	this.addLetter = function (addLetter) {
		
		console.log('addLetter: ' + addLetter);
		
		this.letters = this.letters + addLetter;
		
		var xx = this.x + (this.letters.length - 1) * (letterSize + spaceSize);
		
		var displayCharacter = new DisplayCharacter(addLetter, this.letters.length - 1, xx, this.y);

		displayCharacter.display();
		
		this.displayCharacters.push(displayCharacter);
		
		this.display();
	};

	this.deleteLetter = function(icon) {
		console.log('deleting letter2 ' + icon.data);
		
		console.log('letters before = ' + this.letters);
		
		// this.displayCharacters.splice(icon.data, 1);

		if (icon.data == 0) {
			console.log('removing first letter');
			this.letters = this.letters.substring(1, this.letters.length);
		} else if (icon.data == this.letters.length - 1) {
			console.log('removing last letter');
			this.letters = this.letters.substring(0, this.letters.length - 1);
		} else {
			console.log('removing middle letter');
			var front = this.letters.substring(0, icon.data);
			var back = this.letters.substring(icon.data + 1, this.letters.length);
			this.letters = front + back;
		}
		
		// this.letters = this.letters.slice(icon.data);
		
		console.log('letters after = ' + this.letters);
		
		icon.destroy();
		
		this.display();
	}
	
	// Function that is used to move letters.
	this.location = function (icon, x, y) {
		
		console.log('y = ' + y);
		
		if (y > line1) {
		// if (y > 350) {
			// 
			console.log('deleting letter');
			this.deleteLetter(icon);
			return;
		}
		
		var xx = x - 15;
		
		var arrayLength = this.displayCharacters.length;

		// Variable that helps decide where the letter was moved to.
		var newLocation = -1;

		if (xx < this.displayCharacters[0].x) {
			newLocation = 0;
		}

		var lastChar = this.displayCharacters[arrayLength - 1];
		if (xx > lastChar.x && newLocation == -1) {
			// console.log('after');
			newLocation = arrayLength;
		}

		var minDistance = -1;

		for (var i = 0; i < arrayLength; i++) { 
			var proposedDistance = Math.abs(icon.x - this.displayCharacters[i].x);
			console.log('prop dist: ' + proposedDistance);
			if (minDistance > proposedDistance || minDistance == -1) {
				newLocation = this.displayCharacters[i].icon.data;
				minDistance = proposedDistance;
			}
    	}

		var fromLocation;
		var toLocation;
		if (icon.data > newLocation) {
			fromLocation = icon.data;
			toLocation = newLocation;
		} else {
			fromLocation = newLocation;
			toLocation = icon.data;
		}

		console.log('from/to: ' + icon.data + '/' + newLocation);

		// Move the letters within the array.
		if (icon.data > newLocation) {
			// Swap towards the left
			for (var k = icon.data; k > newLocation; k--) {
				this.swap(k, k - 1);
			}
		} else {
			// Swap towards the right
			for (var k = icon.data; k < newLocation; k++) {
				this.swap(k, k + 1);
			}
		}

		// Calculate middle.
		var mx = gameWindowWidth / 2;
		var letterCount = this.letters.length;
		// console.log("letterCount: " + letterCount);
		if (letterCount != 0) {
			// console.log("xx1: " + xx);
			mx = mx - (letterSize / 2 * letterCount);
			// console.log("xx2: " + xx);
			mx = mx - (letterCount + 1) % 2;
			// console.log("xx3: " + xx);
			mx = mx - ((Math.trunc((letterCount + 1) / 2) - 1) * spaceSize);
			// console.log("xx41: " + ((Math.trunc((letterCount + 1) / 2) - 1) * 3));
			console.log("mx: " + xx);
		}

		
		var arrayLength = this.displayCharacters.length;
		for (var i = 0; i < arrayLength; i++) { 
			this.displayCharacters[i].x = mx + i * (letterSize + spaceSize);
			this.displayCharacters[i].icon.data = i;
		}

		this.displayLocation();

	};

  this.displayLocation = function () {

    var arrayLength = this.displayCharacters.length;

    for (var j = 1; j < 100; j++) {

      for (var i = 0; i < arrayLength; i++) {

        var char = this.displayCharacters[i];

        var xdif = this.displayCharacters[i].icon.x - this.displayCharacters[i].x;
        xdif = xdif * (j / 100);

        var ydif = this.displayCharacters[i].icon.y - this.displayCharacters[i].y;
        ydif = ydif * (j / 100);

        this.displayCharacters[i].icon.x = this.displayCharacters[i].x + xdif;
        this.displayCharacters[i].icon.y = this.displayCharacters[i].y + xdif;

      }
    }
    
  };

}

// Function that responds to keypresses.
function keyPressed(key) {
	displayText.addLetter(key);
};

function DisplayCharacter(letter, position, x, y) {
	
	this.letter = letter;
	this.position = position;
	this.x = x;
	this.y = y;
	this.icon;
  
	// Adds a sprite to display.
	this.display = function () {
		
		// console.log("ASCII = " + this.letter.charCodeAt(0));
		
		
		
		if (this.letter === ' ') {
			this.icon = game.add.sprite(20, 20, 'spaceIcon');
		} else if (this.letter === '-') {
			this.icon = game.add.sprite(20, 20, 'dashIcon');
		} else if (this.letter === String.fromCharCode(130)) {
			this.icon = game.add.sprite(20, 20, 'eAiguIcon');
		} else if (this.letter === String.fromCharCode(138)) {
			this.icon = game.add.sprite(20, 20, 'eGraveIcon');
		} else if (this.letter === String.fromCharCode(136)) {
			this.icon = game.add.sprite(20, 20, 'eCirconflexIcon');
		} else if (this.letter === String.fromCharCode(137)) {
			this.icon = game.add.sprite(20, 20, 'eTremaIcon');
		} else if (this.letter === String.fromCharCode(133)) {
			this.icon = game.add.sprite(20, 20, 'aGraveIcon');
		} else if (this.letter === String.fromCharCode(131)) {
			this.icon = game.add.sprite(20, 20, 'aCirconflexIcon');
		} else if (this.letter === String.fromCharCode(140)) {
			this.icon = game.add.sprite(20, 20, 'iCircomflexIcon');
		} else if (this.letter === String.fromCharCode(139)) {
			this.icon = game.add.sprite(20, 20, 'iTremaIcon');
		} else if (this.letter === String.fromCharCode(147)) {
			this.icon = game.add.sprite(20, 20, 'oCircomflexIcon');
		} else if (this.letter === String.fromCharCode(150)) {
			this.icon = game.add.sprite(20, 20, 'uCirconflexIcon');
		} else if (this.letter === String.fromCharCode(151)) {
			this.icon = game.add.sprite(20, 20, 'uGraveIcon');
		} else if (this.letter === String.fromCharCode(135)) {
			this.icon = game.add.sprite(20, 20, 'cCedilleIcon');
		} else {
			// Only allow letters.
			var reg = /^[a-z]+$/i
			if (this.letter.match(reg) != null) {
				this.icon = game.add.sprite(20, 20, this.letter + 'Icon');
			}
		}
		this.icon.x = this.x;
		this.icon.y = this.y;
		this.icon.data = this.position;
		game.physics.arcade.enable(this.icon);
		this.icon.inputEnabled = true;
		this.icon.input.enableDrag();
		// this.icon.name = 'yo1';
		this.icon.events.onDragStop.add(stopDrag, this);
		
		// console.log('this data = ' + this.icon.data);

		
		
		
		
	};
  
	// Removes a sprite from the display.
	this.remove = function() {
		this.icon.destroy();
	}
}

function stopDrag(startIcon, endIcon) {
	displayText.location(startIcon, endIcon.x, endIcon.y);
}

function speakerInstructions() {
	
	var readInstructions = /*[[${exercise.readInstructions}]]*/ 'default';
		
	console.log('Playing Read Instructions: ' + readInstructions);
	
	responsiveVoice.speak(readInstructions, 'French Female');

};

function speakerSuccess() {
	
	responsiveVoice.speak('Bravo', 'French Female');

};

</script>

</div>

	</div>
</body>
</html>