<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title th:text="#{legal.title}"></title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<h1 th:text="#{legal.title}"></h1>
				<label>The standard Lorem Ipsum passage, used since the
					1500s</label>
					
					<p>Lorem ipsum dolor sit amet, est eu ridens ceteros vituperatoribus. Vis congue semper in, ut his case scriptorem. Pro an nominavi insolens molestiae. Eu omittam adipiscing reprimique pro, ea lorem offendit ius. Te sit exerci incorrupte eloquentiam, suas aperiam albucius cu eos.

Eruditi moderatius no duo. Agam latine prodesset pro ne, pro dolor euismod ne, sit aperiam consequat consequuntur ad. Ullum eripuit et nec, pro ei eros evertitur. Sumo virtute at eos, ut nam omnesque complectitur.

Propriae lobortis ullamcorper ad mea, et noster similique vituperatoribus vel. Causae eloquentiam pro at, primis tibique expetenda an cum, timeam aliquam delenit eam id. Nominati facilisis evertitur eu pri, cu everti mandamus petentium quo. Cu sonet nostrum vix, veniam voluptua voluptaria eu sea. Has ne unum homero explicari, sea augue torquatos in.

Mea maiorum scaevola lucilius ne. Illud maiorum usu at, cu autem graeci sententiae usu. Lobortis prodesset quo ut, vel sonet oporteat petentium ea, ea dolor dicam apeirian vis. Nec ornatus fuisset disputando ad, iracundia intellegat vix ex.

Cum vero placerat atomorum ei. Et nam munere virtute democritum, assueverit ullamcorper et vis, quidam vituperata ea eos. Ei vim lorem luptatum, ne has aperiri expetenda rationibus, ea duis mollis percipit eam. Ea duo tale accusam verterem, sea ei exerci soleat eruditi. At vel choro graeci malorum, nusquam sapientem hendrerit nam an. No delenit offendit pri.

Sale iudico at his, vel percipitur necessitatibus cu. Ut elit perfecto praesent nam, est et mediocrem scriptorem liberavisse. Eu tale vide vix, sed id errem intellegebat. Nec at scaevola apeirian.

Ut pri tollit scaevola vivendum, an sed dicat errem euismod. Graece consetetur id vel, nulla mazim quodsi ne eos. Zril omnesque cu eos, mel elit dolor te. Urbanitas scribentur his ut, ea sit vidisse explicari laboramus, at mei nibh accusata.

Mel stet veri in, duo ex minim numquam, cum error necessitatibus te. Mea sensibus mediocrem at, ne nihil percipit eam. In nec enim eruditi, dicant putent facete an ius. Inani vituperatoribus mea cu, at sit nisl iusto oblique. No mel vidit ancillae maiestatis, labitur elaboraret cu quo, te sea integre assentior.

Cu vide forensibus eum, eam nullam putent no, pro in veri altera ridens. Ex vitae alienum eam, ut solet iuvaret inermis mei. Erroribus expetendis honestatis no vis, id pri hinc nobis, et vituperata dissentiet nam. Quo habemus facilisis iudicabit ex.

Odio percipit delicatissimi ius eu, ea qui graeco laboramus. Te brute repudiandae vix, suas quando electram sed cu. Ea cum tollit audiam, in sed erant dissentias. Mel ea doming nostrud percipitur, in mei regione intellegam.

Id cum facete eligendi. Ex graece altera nostrum vim. Est ut meis quidam facilis, ne mei graeco labitur comprehensam, cum graeco aperiam constituto ei. Eam ut simul diceret labores, voluptaria definiebas dissentiunt et vel, ex qui verear probatus rationibus. Cu debet saperet vulputate vel, debet facete atomorum qui id.

Eos eu facer indoctum, vis te odio vidit saepe, solet praesent nam ex. Te nostro qualisque gubergren sit, te vel natum rebum brute. Ei est graeci debitis laboramus, qui ei erat dicunt. Nostrud postulant sententiae ea mei. Ea vix adhuc malorum quaestio. Sed fugit assueverit id, no debitis salutandi interesset sit.

Dicant tibique cu ius. Ne possit appareat mel. Vel labore latine erroribus ad, eum id gloriatur mnesarchum. Ei est feugait verterem, sonet nonumes ullamcorper ne eam. Aperiri omnesque imperdiet pri in, ei quod facete deserunt vim. Sapientem liberavisse no est.

Mea ne omnes vituperata, no justo etiam detracto vis. Ei corpora adipisci qualisque mel. Amet antiopam eam an. Unum vide copiosae mea an, solum torquatos ad vix.

Cu vis quidam viderer tacimates. Sea ex tota noluisse. Vero vituperata pri cu, munere altera posidonium quo et. Cum persecuti omittantur id, cu tibique platonem delicatissimi sea. Eum saepe hendrerit ut, mei cibo dictas cu, paulo vivendo nam eu. Stet efficiendi duo no.

Legendos aliquando an qui. In est novum impedit perpetua. Qui ea dico senserit, qui alii aliquip cu. Eum eu fastidii evertitur, qui ut porro adipiscing.

No cum posse tempor, usu at causae suscipit. Omnes iriure periculis an pri, sit ea simul impetus erroribus, tantas integre his id. Duo minim nostro te. Id putent equidem qualisque eam, at iudico ceteros commune pro. Sit dicta ocurreret te.

Eu iuvaret pertinacia percipitur qui, omnes quidam bonorum mei te, vix facer consequat efficiantur cu. Vidit ferri eu usu, et tollit corpora qui. Mei ei brute ornatus delicata. Ex oporteat vituperatoribus mei.

At esse laoreet interesset pro. Mei at zril semper habemus. Sed animal apeirian dissentiet ex, rebum utamur epicurei eum ei. Vis eu menandri platonem deterruisset, at essent scripserit theophrastus pri. Ea dicam tractatos nec, soluta delenit albucius id mei.

</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
					enim ad minim veniam, quis nostrud exercitation ullamco laboris
					nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.</p>
				<label>Section 1.10.32 of "de Finibus Bonorum et Malorum",
					written by Cicero in 45 BC</label>
				<p>Sed ut perspiciatis unde omnis iste natus error sit
					voluptatem accusantium doloremque laudantium, totam rem aperiam,
					eaque ipsa quae ab illo inventore veritatis et quasi architecto
					beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
					voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
					magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
					porro quisquam est, qui dolorem ipsum quia dolor sit amet,
					consectetur, adipisci velit, sed quia non numquam eius modi tempora
					incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut
					enim ad minima veniam, quis nostrum exercitationem ullam corporis
					suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
					Quis autem vel eum iure reprehenderit qui in ea voluptate velit
					esse quam nihil molestiae consequatur, vel illum qui dolorem eum
					fugiat quo voluptas nulla pariatur?</p>
				<p>
					<a href="/" th:href="@{/}" th:text="#{legal.back}"></a>
				</p>

			</div>
		</div>
	</div>
</body>
</html>